.heading-title {
    background-image: linear-gradient(rgba(48, 138, 255, 0.010), white);
}

.heading {
    color: rgba(4, 4, 21, 1);
    font-family: Overlock;
    font-size: 65px;
    padding-left: 150px;
    line-height: 70px;
    padding-top: 86px;

}

.background {
    background-image: url('../../../images/underline.png');
    background-repeat: no-repeat;
    background-position-y: -1px;
    background-size: initial;
}

.heading-message {
    padding-left: 150px;
    font-family: Nunito;
    font-style: Regular;
    font-size: 18px;
    color: rgba(4, 4, 21, 0.6);
}

.heading-img {
    padding-left: 137px;
    padding-right: 110px;
    padding-top: 67px;
    border-radius: 20px;
    position: relative;
}

.ellipse3 {
    position: absolute;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ellipse4 {
    position: absolute;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.polygon1 {
    position: absolute;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
}