.workflow-section {
    padding-left: 155px;
    padding-right: 120px;

}

.workflow-heading h1 {
    font-family: Overlock;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    padding-top: 150px;
    text-align: center;
}

.workflow-underline {
    background-image: url(../../../images/underline.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-y: 55px;
    background-position-x: 20px;
    padding: 18px;
}

.workflow-topics {
    padding-top: 127px;
}

.prod-design h4 {
    padding-left: 25px;
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.border h4 {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.border p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.border {
    background-image: url(../../../images/Rectangle23.png);
    background-repeat: no-repeat;
    background-position-y: 35px;
    background-position-x: 1px;
    padding: 28px;

}

.workflow-image img {
    padding-top: 85px;
    padding-left: 50px;
    border-radius: 6px;
}

.workflow {
    display: flex;
    align-items: center;
}