.works {
    padding-right: 150px;
}

.works h1 {
    font-family: Overlock;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    padding-top: 126px;
    padding-bottom: 50px;
    padding-left: 135px;
}

.works-underline {
    background-image: url(../../../images/underline.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-position-x: 20px;
    padding: 18px;
}

.work-container {
    display: flex;
    padding-left: 155px;
}

.branding {
    display: flex;
    align-items: center;
}

.branding-works {

    font-family: Nunito;
    font-style: SemiBold;
    font-size: 22px;
}

.ui-ux {
    display: flex;
    align-items: center;
    padding-left: 221px;
}

.ui-ux-works {

    font-family: Nunito;
    font-style: SemiBold;
    font-size: 22px;
    padding-left: 221px;
}

.development {
    display: flex;
    align-items: center;
    padding-left: 210px;
}

.development-works {

    font-family: Nunito;
    font-style: SemiBold;
    font-size: 22px;
    padding-left: 221px;
}

.work-container h5 {
    padding-left: 15px;
    font-family: Overlock;
    font-weight: 700px;
    font-size: 28px;
}