.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    background-image: linear-gradient(white, rgba(48, 138, 255, 0.010));
}

.header a {
    color: rgba(4, 4, 21, 0.8);
    font-family: Nunito;
    font-style: Regular;
    font-size: 16px;
    text-decoration: none;
    margin-left: 25px;
}

.button {
    background-color: rgba(48, 136, 255, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;

}