.allFooter {
    background-color: rgba(246, 160, 14, 0.05);
    ;
    height: 700px;
}

.soft-partner {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2D5BFF;
    width: 1010px;
    height: 160px;
    margin-left: 151px;
    border-radius: 12px;
}

.soft-partner-heading h3 {
    padding-right: 150px;
    color: white;
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.soft-partner-btn {
    width: 197.86px;
    height: 60.52px;
    background: #FFFFFF;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #2D5BFF;
    border: none;
    border-radius: 7px;
}

.about-softcent {
    padding-top: 72px;
    padding-left: 155px;
    display: flex;
    align-items: center;
}

.softAddress p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.softAddress h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.social-images {}

.social-images img {
    padding: 5px;
}

.policy {
    display: flex;
    padding-left: 150px;
}

.policy h5 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.policy p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.company {}

.service {
    padding-left: 108px;
}

.supports {
    padding-left: 108px;
}

.line {
    width: 1138.93px;
    color: rgba(4, 4, 21, 0.16);
    margin-top: 80px;
}

.copyright {
    text-align: center;
}